@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SPEditor</title>
    <link rel="stylesheet" href="~/css/editorStyles/index.css" asp-append-version="true" />
    <link rel="icon" href="~/editor-logo.png"/>
</head>
<body>
    <div id="top-bar" class="top-bar">
        <ul class="no-select">
            <li>
                <a class="pure-link" asp-controller="Home" asp-action="Index">To main</a>
            </li>
            <li>
                <a>File</a>
                <div class="dropdown-content" style="left: 2%;">
                    <div class="menu-item">
                        <a href="#">Create new</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">Save to server</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">Save as</a>
                    </div>
                </div>
            </li>
            
            <li>
                <a>Edit</a>
                <div class="dropdown-content" style="left: 5%;">
                    <div class="menu-item">
                        <a href="#">Undo</a>
                        <span class="shortcut">Ctrl + Z</span>
                    </div>
                    <div class="menu-item">
                        <a href="#">Redo</a>
                        <span class="shortcut">Ctrl + Y</span>
                    </div>
                    <div class="menu-item">
                        <a href="#">Copy all</a>
                        <span class="shortcut"></span>
                    </div>
                    <div class="menu-item">
                        <a href="#">About</a>
                    </div>
                </div>
            </li>
        
            <li>
                <a>Help</a>
                <div class="dropdown-content" style="left: 7%;">
                    <div class="menu-item">
                        <a href="#">Welcome</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">Documentation</a>
                        <span class="shortcut"></span>
                    </div>
                    <div class="menu-item">
                        <a href="#">About</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="position: absolute; top: 50px; height: 90%; width: 97%;">
        <iframe id="fr1" src="EditorBody" style="width: 100%; height: 100%;"></iframe>
    </div>

    <div class="bottom-nav-bar">
        <select class="lang-selection">
            <option>SQL</option>
            <option>Plain text</option>
            <option>C#</option>
            <option>C</option>
            <option>C++</option>
        </select>
    </div>

    <div id="loader" class="loader-fullscreen">
        <div class="loader-waiter"></div>
        <p>Prepearing good expirience for you . . .</p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('loader').remove();
        });
    </script>
</body>