@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SPEditor</h1>
    <p>SPEditor is a light weight editor for code and plain text.</p>
    <p>Start using right now: <a asp-controller="Editor" asp-action="SPEditor">Just click here</a></p>
</div>
